<!doctype html>
<html ng-app="myApp">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.3/angular.min.js"></script>
</head>
<body>

<div ng-controller="UsersController">
    <div data-ng-repeat="user in users" data-ng-show="user.gender === 'male'">
        <h3>{{user.name | uppercase}}</h3>
        <p>{{user.nickname}}</p>
        Edit nickname:<br>
        <textarea rows="5" cols="50" data-ng-model="user.nickname"></textarea>
    </div>
</div>

<script>
    var myApp = angular.module('myApp',[]);

    myApp.config(['$routeProvider', function ($routeProvider) {
        $routeProvider.when('/users', {
            templateUrl: './views/users.html',
            controller: 'UserCtrl'
        }).otherwise({
            templateUrl: './views/errors.html'
        });
    }]);

    myApp.controller('UsersController', ['$scope', function($scope) {
        $scope.users = [
            {
                name : 'Anthony',
                nickname : 'toinne or tony (depending on your circle)',
                gender : 'male'
            },
            {
                name : 'Ken',
                nickname : 'broere',
                gender : 'male'
            },
            {
                name : 'Jeroen',
                nickname : 'jerre',
                gender : 'male'
            },
            {
                name : 'Jurriaan',
                nickname : 'oemambo',
                gender : 'male'
            },
            {
                name : 'Lien',
                nickname : 'does she have a nickname ?',
                gender : 'female'
            }
        ];
    }]);
</script>
</body>
</html>